.wrapper
  +defaultPageSpacing
  min-height: 100%
  display: flex
  justify-content: center
  align-content: center
  flex-wrap: wrap
  background: #f5f7fa
  & > div
    margin-right: 10px
    margin-bottom: 10px
