.root
  display: flex
  flex-direction: column
  height: 248px
  width: 311px
  background: #fff
  border-radius: 3px
  box-shadow: 0 3px 3px #e1e1e1
.img
  height: 198px
  width: 100%
  & img
    height: 100%
    width: 100%
.content
  display: flex
  align-items: center
  flex-grow: 1
  padding: 0 10px

