body
  font-size: 14px
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"


.spacing-none > *
  margin: 0
.spacing-sm > *
  margin: 10px
.spacing-md > *
  margin: 20px
.spacing-lg > *
  margin: 30px
