=btn()
  height: 100%
  &:hover
    background-color: $headerNavBgHover
=navItem()
  display: flex
  align-items: center
  padding: 0 5px
.root
  width: 100%
  position: fixed

.nav
  display: flex
  height: $headerNavHeight
  align-items: stretch
  justify-content: space-between

  .item2, .item1, .item3
    +navItem
  .item1
    justify-content: center
    .logo
      background-size: contain
      background-repeat: no-repeat
      background-position: 50% 100%
      width: 100%
      height: 100%
    .logoBtn
      padding-top: 15px
      width: 110px
      height: 100%
      border-radius: 5px
      &:hover
        background-color: $headerNavBgHover
      &:active
        background-color: #fffefe
  .item2
    justify-content: right
    width: 100%
  .item3
    width: 100%
    justify-content: right
    .btnToggledWidth
      +btn
      width: $docWidth
    .btnWidth
      +btn
      width: 80px
      padding-left: 15px


.navOffset
  height: $headerNavHeight

.svg
  width: 50px
  height: 50px
  color: $docBtn