.root
  display: flex
  width: 100%
  justify-content: space-between
.avatar
  margin-right: 5px
.date
 color: #91acbd
.user
  display: flex
.info
  display: flex
  flex-direction: column
  align-items: center
  color: #91acbd
