.header
  background: $headerNavBg
  box-shadow: 0 1px 0 0 #dbdbdb

.main
  display: flex
  justify-content: space-between
  height: calc(100vh - #{$headerNavHeight})

.content
  flex-grow: 1
  width: 100vw
.doc
  background: $docNavBgLight
  box-shadow: -1px 0 1px 0 #dbdbdb
  margin-top: 1px
  overflow: hidden
  transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1)
.docClosed
  width: 0
.docOpened
  width: $docWidth + 5px
  padding-left: 10px
  padding-right: 10px
