=py($val)
  padding-top: $val
  padding-bottom: $val

=px($val)
  padding-left: $val
  padding-right: $val

=my($val)
  margin-top: $val
  margin-bottom: $val

=mx($val)
  margin-left: $val
  margin-right: $val