=containerSpacing
  +px($defaultGlobalSpacing)

=container
  +containerSpacing
  margin: 0 auto
  max-width: 1600px

=defaultPageSpacing
  padding: 10px

=fullScreenSize
  height: calc(99.9vh - $headerNavHeight)
  width: 100%

=spacing
  .spacing-none
    +my(0)
  .spacing-sm
    +my(10px)
  .spacing-md
    +my(20px)
  .spacing-large
    +my(30px)
